/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a, a:visited {
    text-decoration: none;
    color: black;
}
/* MY_MEETIC */
#main_wrapper {
    width: 900px;
    margin: 0 auto;
}
#header_title {
    text-align: center;
}
#header_title h1 {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
}
#header_navlog nav ul li {
    display: inline;
}
.errors_list, .infos_list {
    margin-top: 20px;
    margin-bottom: 20px;
}
.errors_list li {
    text-align: center;
    color: red;
}
.infos_list li {
    text-align: center;
    color: blue;
}
.registration_block  {
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
}
.registration_block h2 {
    text-align: center;
    color: red;
    font-size: 2em;
    margin: 15px;
}
#registration_form label{
    display: inline-block;
    width: 160px;
}
#registration_form li {
    line-height: 33px;
}
#registration_form input, #registration_form select {
    display: inline-block;
    width: 300px;
    vertical-align: top;
}
#registration_form #ad_number {
    width: 50px !important;
}
#registration_form #street {
    width: 240px !important;
}

#registration_form #submit {
    text-align: center;
}

#my_account h2 {
    text-align: center;
    font-size: 1.5em;
}

#profil_section {
    margin-bottom: 25px;
    min-height: 600px;
}
#profil_block {
    text-align: center;
}
#footer {
    text-align: center;
}

#header_user {
    float: right;
}

#search_form {
    text-align: center;
}

#edit_link, #delete_link, .contact_link, .profil_link {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
}

#delete_link {
    background-color: #FF5B5B;
}
#edit_link, .contact_link, .profil_link {
    background-color: #00DCFF;
}

#profil_details {
    border-bottom: 30px;
}
.search_result {
    display: inline-block;
    width: 300px;
    height: 220px;
    border : 1px solid red;
    padding: 10px;
}
.search_result_avatar {
    max-width: 50px;
}

.connexion_form {
    width: 700px;
}
.reset_link {
    display: block;
    text-align: center;
}