/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed,
   figure, figcaption, footer, header, hgroup,
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a, a:visited {
    text-decoration: none;
    color: black;
}
/* MY_MEETIC */

body {
    background-image: url("bg.jpg");
}
#main_wrapper {
    width: 900px;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
}
#header {
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 40px;
}
#header_title {
    text-align: center;
    margin-bottom: 20px;
}
#header_title h1 {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
}
#header_navlog nav {
    display: inline-block;
}
#header_navlog nav ul li {
    display: inline;
}
.errors_list, .infos_list {
    margin-top: 20px;
    margin-bottom: 20px;
}
.errors_list li {
    text-align: center;
    color: red;
}
.infos_list li {
    text-align: center;
    color: blue;
}
.registration_block  {
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
}
.registration_block h2 {
    text-align: center;
    color: red;
    font-size: 2em;
    margin: 15px;
}
#registration_form label{
    display: inline-block;
    width: 160px;
}
#registration_form li {
    line-height: 33px;
}
#registration_form input, #registration_form select {
    display: inline-block;
    width: 300px;
    vertical-align: top;
}
#registration_form #ad_number {
    width: 50px !important;
}
#registration_form #street {
    width: 240px !important;
}

#registration_form #submit {
    text-align: center;
}

#my_account h2 {
    text-align: center;
    font-size: 1.5em;
}

.main_section {
    margin-bottom: 25px;
    min-height: 600px;
}
.main_section h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}
#profil_block {
    text-align: center;
}
#footer {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;
    border-top: solid 2px black;
}
#copyright {
}

#header_user {
    float: right;
}

#search_form {
    text-align: center;
}

#edit_link, #delete_link, .contact_link, .profil_link {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
}

#delete_link {
    background-color: #FF5B5B;
}
#edit_link, .contact_link, .profil_link {
    background-color: #00DCFF;
}

#profil_details {
    border-bottom: 30px;
}
.search_result {
    display: inline-block;
    width: 300px;
    margin-bottom: 5px;
    border : 1px solid black;
    border-radius: 5px;
    padding: 10px;
}
.search_result_avatar {
    max-width: 50px;
}

.connexion_form {
    width: 700px;
}
.reset_link {
    display: block;
    text-align: center;
}

.msg_table{
    width:100%;
}

.main_section h3 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 15px;
}

table, th, td {
 border: 1px solid black;
}
th {
    height: 25px;
    vertical-align: middle;
}
thead {
    font-weight: bold;
}
td {
    padding: 8px;
}
.td_no_msg {
    text-align: center;
}
.message {
    border-top: solid 1px black;
}
.message_profile, .message_body {
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
}
.message_profile {
    border-right: 1px solid black;
    padding-right: 10px;
    width: 250px;
}
.message_body {
    padding-left: 10px;
    width: 620px;
}
.message_content {
    margin-top: 15px;
}

.messagerie_nav {
    margin: 10px 0;
}
.messagerie_nav ul {
    display: block;
    text-align: center;
}
.messagerie_nav ul li {
    display: inline;
}
.message_avatar {
    display: block;
    margin: 0 auto;
}

.msg_write_form ul{
    width: 700px;
    margin: 0 auto;
}
.msg_write_form ul li label {
    display: inline-block;
    width: 100px;
}
.msg_write_form ul li input{
    width:  450px;
}
.msg_write_form ul li textarea {
    width: 446px;
    height: 300px;
    resize: none;
    vertical-align: top;
}

.submit_button {
    display: block;
    margin: 10px auto;
    width: 150px !important;
}

.recover_block  {
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
}
.recover_block h2 {
    text-align: center;
    color: red;
    font-size: 2em;
    margin: 15px;
}
.recover_block p {
    text-align: center;
}
.recover_block form {
    margin-top: 15px;
    text-align: center;
}

.intro_index p {
    text-align: center;
}

.deco_link {
    background-color: pink;
    text-align: center;
    display: block;
    width: 100px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
}

.message_form_reply {
    margin-top: 20px;
}
.message_form_reply input {
    width: 200px;
    height: 35px;
    display: block;
    margin: auto;
}