<!DOCTYPE html>
<html>
<head>
    <title>My_Meetic - Index</title>
    <link rel="stylesheet" type="text/css" href="style/style.css" />
</head>
<body>
    <div id="main_wrapper">
        <?php require_once("includes/header.php"); ?>
        <section class="main_section">
            <h2>Accueil</h2>
            <?php Display::INFOS(); ?>

            <div class="intro_index">
                <p>Bienvenue sur My_Meetic !</p>
                <p>Il ne vous reste plus qu'à pécho :)</p>
                <p>Pour commencer votre chasse, rendez vous dans la rubrique Recherche</p>
                <p>(ou bien personalisez un peu votre profil... ça vous fera pas de mal)</p>
            </div>

        </section>
        <?php require_once("includes/footer.php"); ?>
    </div>
</body>
</html>