<!DOCTYPE html>
<html>
<head>
    <title>My_Meetic - Profil</title>
    <link rel="stylesheet" type="text/css" href="style/style.css" />
</head>
<body>
    <div id="main_wrapper">
        <?php require_once("includes/header.php"); ?>

        <section class="main_section">
            <div id="profil_block">
                <h2>Profil de <?php echo $profil->getFirstname(); ?></h2>
                <div id="profil_avatar"><img src="<?php echo $profil->getAvatar(); ?>" alt="<?php echo $profil->getLogin(); ?>"></div>

                <ul id="profil_details">
                    <li><span class="details">Pseudo : </span><?php echo $profil->getLogin(); ?></li>
                    <li><span class="details">Sexe : </span><?php echo $profil->getGenderText(); ?></li>
                    <li><span class="details">Je recherche : </span>des <?php echo $profil->getOrientationText(); ?></li>
                    <li><span class="details">Age : </span><?php echo $profil->getAge(); ?> ans</li>
                    <li><span class="details">Ville : </span><?php echo $profil->getCity(); ?></li>
                    <li><span class="details">Département : </span><?php echo $profil->getDepartement(); ?></li>
                    <li><span class="details">Région : </span><?php echo $profil->getRegion(); ?></li>
                    <li><span class="details">Pays : </span><?php echo $profil->getPays(); ?></li>
                    <li><span class="details">Biographie : </span><?php echo $profil->getBio(); ?></li>
                </ul>
                <a href="messagerie.php?mode=write&amp;to=<?php echo $profil->getId(); ?>" class="contact_link">Envoyer un message à <?php echo $profil->getFirstname(); ?></a>
            </div>
        </section>

        <?php require_once("includes/footer.php"); ?>
    </div>
</body>
</html>